# compiled output
api/dist
api/node_modules

# Logs
api/logs
api/.log
api/pm-debug.log*
api/npm-debug.log*
api/arn-debug.log*
api/arn-error.log*
api/erna-debug.log*

# OS
.api/DS_Store

# Tests
/api/coverage
/api/.nyc_output

# IDEs and editors
/api/.idea
.api/project
api/classpath
api/c9/
api/.launch
api/settings/
api/.sublime-workspace
